<%= form_for(student) do |f| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :credits %><br>
    <%= f.number_field :credits %>
  </div><br>

  <div class="field">
    <%= f.label :student_class %><br>
    <%= f.text_field :student_class %>
  </div>

  <div class="field">
    <%= f.label :section_id %><br>
    <%= f.collection_check_boxes(:section_ids, @sections, :id, :section_number, include_blank: true) %>
    <br>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
