<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @student.credits %>
</p>

<p>
  <strong>Student class:</strong>
  <%= @student.student_class %>
</p>

<p>
	<strong>Classes:</strong>
  <table class="table">
    <thread>
      <tr>
        <th>Course:</th>
        <th>Section Number</th>
      </tr>

      <tbody>
        <% @student.sections.each do |section| %>
        <tr>
          <td><%= section.course.name %></td>
          <td><%= section.section_number %></td>
        </tr>
        <% end %>
      </tbody>
    
  </thread>
</table>
</p>
	
<div class="btn-group">
<button><%= link_to 'Edit', edit_student_path(@student) %></button>
<button><%= link_to 'Back', students_path %></button>
</div>
