

<p>
  <strong>Course:</strong>
  <%= @section.course.name %>
</p>

<p>
  <strong>Section number:</strong>
  <%= @section.section_number %>
</p>

<p>
  <strong>Building:</strong>
  <%= @section.building %>
</p>

<p>
  <strong>Room number:</strong>
  <%= @section.room_number %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @section.professor.name %>
</p>
<p>
  <strong>Student List</strong>
  <table class="table">
    <thread>
      <tr>
        <th>Student Name</th>
      </tr>

      <tbody>
        <% @section.students.each do |student| %>
        <tr>
          <td><%= student.name %></td>
        </tr>
        <% end %>
      </tbody>
    
  </thread>
</table>
</p>




<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
