<p id="notice"><%= notice %></p>

<h1>Professors</h1>

<table style="width:65%">
  <thead>
    <tr>
      <th style="width:20%">Name</th>
      <th style="width:20%">Office</th>
      <th style="width:20%">Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professors.each do |professor| %>
      <tr>
        <td align=center><%= professor.name %></td>
        <td align=center><%= professor.office %></td>
        <td align=center><%= professor.email %></td>
        <td ><%= link_to 'Show', professor %></td>
        <td><%= link_to 'Edit', edit_professor_path(professor) %></td>
        <td><%= link_to 'Destroy', professor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Professor', new_professor_path %>
<p>
  <a href= "/courses"> Go to Courses </a>
</p>
<p>
  <a href= "/sections"> Go to sections </a>
</p>
