
<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @course.semester %>
</p>

<p>
  <strong>Sections:</strong>
  <table class="table">
    <thread>
      <tr>
        <th>Section Number</th>
        <th>professor</th>
      </tr>

      <tbody>
        <% @course.sections.each do |section| %>
        <tr>
          <td><%= section.section_number %></td>
          <td><%= section.professor.name %></td>
        </tr>
        <% end %>
      </tbody>
    
  </thread>
</table>
</p>
 

<div class="btn-group">
<button><%= link_to 'Edit', edit_course_path(@course) %></button>
<button><%= link_to 'Back', courses_path %></button>
